.font{
    font-size: 1.2rem;
}
.font-1{
    font-size: 1rem;
}

.font-2{
    font-size: .8rem;
}




/* media queries */


@media(max-width : 1400px){
    .reason-1{
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 550px;
        padding:  4rem; 
        border-radius: 10px;
        margin-top: 8px;
    
    
    }

}









/* 1200  */


@media(max-width : 1200px){
    .reason-1{
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 450px;
        padding:  4rem; 
        border-radius: 10px;
        margin-top: 8px;
    
    
    }

  /* FIRST PRODUCT */

.earbuds-bcg{
    background-color: rgb(190, 189, 189);
}

 .view-btn{
    padding: 0.4rem 1rem;
    border: 0px;
    border-radius: 3px;
    font-size: .9rem;
 }

.card{
    background-color: #ffffff;
    width: 210px; 
    /* margin-left:1rem ; */
}


 .buds-img{
    width: 110px;
 }

 .name{
    font-size: .7rem;
    font-weight: bolder;
 }

 .spe-price{
    font-size: 1.1rem;
    font-weight: 500;

 }

 .act-price{
    font-size: .6rem;
    color: rgba(7, 18, 27, .4);
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .2rem;
    border-radius: .2rem;
    color: #0bb07e;
 }

/* FIRST PRODUCT */

}



/* 1200  */








/* 992  */



@media(max-width : 992px){
    .mobiles{
        width:150px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;
        
        /* flex-wrap: wrap; */
    }

    .reason-1{
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 500px;
        padding:  4rem; 
        border-radius: 10px;
        margin-top: 8px;
    
    
    }


    /* BEST SELLER  */




    /* FIRST PRODUCT */

.earbuds-bcg{
    background-color: rgb(190, 189, 189);
}

.earbud-imgs{

    height: 125px;
}

 .view-btn{
    padding: 0.4rem 1rem;
    border: 0px;
    border-radius: 3px;
    font-size: .9rem;
 }

.card{
    background-color: #ffffff;
    width: 195px; 
}


 .buds-img{
    width: 97px;
 }

 .name{
    font-size: .7rem;
    font-weight: bolder;
 }

 .spe-price{
    font-size: 1rem;
    font-weight: 500;

 }

 .act-price{
    font-size: .rem;
    color: rgba(7, 18, 27, .4);
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .2rem;
    border-radius: .2rem;
    color: #0bb07e;
 }

/* FIRST PRODUCT */

    

}


/* 992  */



/* 768 */

@media(max-width : 768px){

    .tog-logo{
        width: 50%;
    }


    .search-bar{
        width: 50%;
        background-color: white;
        padding: .6rem 0.8rem;
        border-radius: 6px;
        font-size: 1rem;
    }




    /* FIRST PRODUCT */

.earbuds-bcg{
    background-color: rgb(190, 189, 189);
}



.earbud-imgs{

    height: 75px;
}

 .view-btn{
    padding: 0.4rem 1rem;
    border: 0px;
    border-radius: 3px;
    font-size: .8rem;
 }

.card{
    background-color: #ffffff;
    width: 130px; 
    }


 .buds-img{
    width: 60px;
 }

 .name{
    font-size: .4rem;
    font-weight: bolder;
    height: 1.4rem;

 }

 .spe-price{
    font-size: .6rem;
    font-weight: 500;

 }

 .act-price{
    font-size: .5rem;
    color: rgba(7, 18, 27, .4);
    height: 1.2rem;
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .2rem;
    border-radius: .2rem;
    color: #0bb07e;
    font-size: .4rem;
    height: 1.2rem;

 }

/* FIRST PRODUCT */



}





/* 700 */


@media(max-width : 700px){


    .log-reg{
        display: none;
        /* color: red; */
        /* background-color: black; */

    }
 


}


/* 662 */


@media(max-width : 662px){


    .log-reg{
        display: none;
        /* color: red; */
        /* background-color: black; */

    }
    .mobiles{
        width:130px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;
        
        /* flex-wrap: wrap; */
    }

    .view-btn{
        padding: 0.4rem 1.4rem;
        border: 0px;
        border-radius: 3px;
        font-size: .5rem;
     }

     h4{
        font-size: .8rem;
     }




      /* FIRST PRODUCT */

.earbuds-bcg{
    background-color: rgb(190, 189, 189);
}



.earbud-imgs{

    height: 65px;
}

 .view-btn{
    padding: 0.4rem 1rem;
    border: 0px;
    border-radius: 3px;
    font-size: .8rem;
 }

.card{
    background-color: #ffffff;
    width: 100px; 
    }


 .buds-img{
    width: 50px;
 }

 .name{
    font-size: .4rem;
    font-weight: bolder;
    height: 1.3rem;

 }

 .spe-price{
    font-size: .5rem;
    font-weight: 500;
    height: 1.4rem;

 }

 .act-price{
    font-size: .5rem;
    color: rgba(7, 18, 27, .4);
    height: 1rem;
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .2rem;
    border-radius: .2rem;
    color: #0bb07e;
    font-size: .4rem;
    height: 1rem;

 }

/* FIRST PRODUCT */



}


/* 575 */


@media(max-width : 575px){



    .mobiles{
        width:90px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;
        font-size: .6rem;
        
        /* flex-wrap: wrap; */
    }

    .mobile-img{
        width: 2.6rem;
        
    }

    .reason-1{
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 90%;
        padding: 4rem 2rem; 
        border-radius: 10px;
        margin-top: 8px;
    
    
    }

    .best-seller-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
        }
        
        .grid-1{
            padding: .5rem .7rem;
            border-radius: 5px;
           
        
        } 
        .grid-2{
           
            
        }

        /* BEST SELLER  */

}


/* 405 */


@media(max-width : 405px){



    .mobiles{
        width:75px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;
        font-size: .6rem;
        
        /* flex-wrap: wrap; */
    }

    .mobile-img{
        width: 2.6rem;
        
    }

    .tog-logo{
        width: 62%;
    }
    .search-bar{
        width: 45%;
        background-color: white;
        padding: .6rem 0.8rem;
        border-radius: 6px;
        font-size: 1rem;
    }


    .reason-1{
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 90%;
        padding: 4rem 1rem; 
        border-radius: 10px;
        margin-top: 8px;
    
    
    }


    /* Footer  */

    .one-l{
        width: 250px;
        margin-top: 20px;
    }

    .google{
        width: 130px;
    
    }

    /* Footer  */


}
