.font{
    font-size: 1.2rem;
}
.font-1{
    font-size: 1rem;
}

.font-2{
    font-size: .8rem;
}




/* media queries */


@media(max-width : 1400px){
    .reason-1{
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 550px;
        padding:  4rem; 
        border-radius: 10px;
        margin-top: 8px;
    
    
    }

}









/* 1200  */


@media(max-width : 1200px){
    .reason-1{
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 450px;
        padding:  4rem; 
        border-radius: 10px;
        margin-top: 8px;
    
    
    }

  /* FIRST PRODUCT */

.earbuds-bcg{
    background-color: rgb(190, 189, 189);
}

 .view-btn{
    padding: 0.4rem 1rem;
    border: 0px;
    border-radius: 3px;
    font-size: .9rem;
 }

.card{
    background-color: #ffffff;
    width: 210px; 
    padding: .7rem;

}


 .buds-img{
    width: 110px;
 }

 .name{
    font-size: .7rem;
    font-weight: bolder;
 }

 .spe-price{
    font-size: 1.1rem;
    font-weight: 500;

 }

 .act-price{
    font-size: .8rem;
    color: rgba(7, 18, 27, .4);
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .2rem;
    border-radius: .2rem;
    color: #0bb07e;
 }

/* FIRST PRODUCT */

}



/* 1200  */








/* 992  */



@media(max-width : 992px){
    .mobiles{
        width:150px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;
        
        /* flex-wrap: wrap; */
    }

    .reason-1{
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 500px;
        padding:  4rem; 
        border-radius: 10px;
        margin-top: 8px;
    
    
    }


    /* BEST SELLER  */




    /* FIRST PRODUCT */

.earbuds-bcg{
    background-color: rgb(190, 189, 189);
}

.earbud-imgs{

    height: 125px;
}

 .view-btn{
    padding: 0.4rem 1rem;
    border: 0px;
    border-radius: 3px;
    font-size: .9rem;
 }

.card{
    background-color: #ffffff;
    width: 195px; 
    padding: .6rem;

}


 .buds-img{
    width: 97px;
 }

 .name{
    font-size: .7rem;
    font-weight: bolder;
 }

 .spe-price{
    font-size: 1rem;
    font-weight: 500;

 }

 .act-price{
    font-size: .8rem;
    color: rgba(7, 18, 27, .4);
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .2rem;
    border-radius: .2rem;
    color: #0bb07e;
 }

/* FIRST PRODUCT */



/* SHOP BY PRICE  */

.by-price{
    width: 200px;
    padding: .6rem 0rem;
    border-radius: 4px;
    background-color: yellow;
    font-size: .8rem;
}

.by-price:hover{
    background-color: blue;
    transition: .7s   ;
    /* transform: ; */
    /* scale: ; */
    color: red;
}
/* SHOP BY PRICE  */

    

}


/* 992  */



/* 768 */

@media(max-width : 768px){

    .tog-logo{
        width: 50%;
    }


    .search-bar{
        width: 50%;
        background-color: white;
        padding: .6rem 0.8rem;
        border-radius: 6px;
        font-size: 1rem;
    }




    /* FIRST PRODUCT */

.earbuds-bcg{
    background-color: rgb(190, 189, 189);
}



.earbud-imgs{

    height: 130px;
}

 .view-btn{
    padding: 0.4rem 1rem;
    border: 0px;
    border-radius: 3px;
    font-size: .8rem;
 }

.card{
    background-color: #ffffff;
    width: 200px; 
    padding: .5rem;

    }


 .buds-img{
    width: 110px;
 }

 .name{
    font-size: .85rem;
    font-weight: bolder;
    height: 3.4rem;

 }

 .spe-price{
    font-size: .85rem;
    font-weight: 500;
    height:2rem;

 }

 .act-price{
    font-size: .9rem;
    color: rgba(7, 18, 27, .4);
    height: 1.8rem;
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .3rem;
    border-radius: .2rem;
    color: #0bb07e;
    font-size: .8rem;
    height: 1.8rem;

 }

/* FIRST PRODUCT */


/* SHOP BY PRICE  */

.by-price{
    width: 150px;
    padding: .6rem 0rem;
    border-radius: 4px;
    background-color: yellow;
    font-size: .7rem;
}

.by-price:hover{
    background-color: blue;
    transition: .7s   ;
    /* transform: ; */
    /* scale: ; */
    color: red;
}
/* SHOP BY PRICE  */


}





/* 700 */


@media(max-width : 700px){


    .log-reg{
        display: none;
        /* color: red; */
        /* background-color: black; */

    }
 

 /* FIRST PRODUCT */

 .earbuds-bcg{
    background-color: rgb(190, 189, 189);
}



.earbud-imgs{

    height: 100px;
}

 .view-btn{
    padding: 0.4rem 1rem;
    border: 0px;
    border-radius: 3px;
    font-size: .8rem;
 }

.card{
    background-color: #ffffff;
    width: 185px; 
    padding: .34rem;

    }


 .buds-img{
    width: 80px;
 }

 .name{
    font-size: .7rem;
    font-weight: bolder;
    height: 2.5rem;

 }

 .spe-price{
    font-size: .8rem;
    font-weight: 600;
    height: 2.2rem;

 }

 .act-price{
    font-size: .65rem;
    color: rgba(7, 18, 27, .4);
    height: .8rem;
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .2rem;
    border-radius: .2rem;
    color: #0bb07e;
    font-size: .65rem;
    height: 1.5rem;

 }

/* FIRST PRODUCT */



}


/* 662 */


@media(max-width : 662px){


    .log-reg{
        display: none;
        /* color: red; */
        /* background-color: black; */

    }
    .mobiles{
        width:130px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;
        
        /* flex-wrap: wrap; */
    }

    .view-btn{
        padding: 0.4rem 1.4rem;
        border: 0px;
        border-radius: 3px;
        font-size: .5rem;
     }

     h4{
        font-size: .8rem;
     }




      /* FIRST PRODUCT */

.earbuds-bcg{
    background-color: rgb(190, 189, 189);
}



.earbud-imgs{

    height: 150px;
}

 .view-btn{
    padding: 0.4rem 1rem;
    border: 0px;
    border-radius: 3px;
    font-size: .8rem;
 }

.card{
    background-color: #ffffff;
    width: 255px; 
    padding: .9rem;

    }


 .buds-img{
    width: 130px;
 }

 .name{
    font-size: .9rem;
    font-weight: bolder;
    height: 3.6rem;

 }

 .spe-price{
    font-size: .9rem;
    font-weight: 600;
    height: 2.5rem;

 }

 .act-price{
    font-size: .75rem;
    color: rgba(7, 18, 27, .4);
    height: 1.7rem;
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .2rem;
    border-radius: .2rem;
    color: #0bb07e;
    font-size: .75rem;
    height: 1.7rem;

 }

/* FIRST PRODUCT */



}


/* 575 */


@media(max-width : 575px){



    .mobiles{
        width:90px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;
        font-size: .6rem;
        
        /* flex-wrap: wrap; */
    }

    .mobile-img{
        width: 2.6rem;
        
    }

    .reason-1{
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 90%;
        padding: 4rem 2rem; 
        border-radius: 10px;
        margin-top: 8px;
    
    
    }

    .best-seller-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
        }
        
        .grid-1{
            padding: .5rem .7rem;
            border-radius: 5px;
           
        
        } 
       

        /* BEST SELLER  */







              /* FIRST PRODUCT */

.earbuds-bcg{
    background-color: rgb(190, 189, 189);
}

.card-heads{
    font-size: 1rem;
}

.earbud-imgs{

    height: 120px;
}

 .view-btn{
    padding: 0.35rem .85rem;
    border: 0px;
    border-radius: 3px;
    font-size: .48rem;
 }

.card{
    background-color: #ffffff;
    width: 207px; 
    padding: .6rem;

    }


 .buds-img{
    width: 100px;
 }

 .name{
    font-size: .8rem;
    font-weight: bolder;
    height: 3.3rem;

 }

 .spe-price{
    font-size: .8rem;
    font-weight: 600;
    height: 2rem;

 }

 .act-price{
    font-size: .65rem;
    color: rgba(7, 18, 27, .4);
    height: 1.5rem;
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .2rem;
    border-radius: .2rem;
    color: #0bb07e;
    font-size: .65rem;
    height: 1.5rem;

 }

/* FIRST PRODUCT */

/* SHOP BY PRICE  */

.by-price{
    width: 120px;
    padding: .6rem 0rem;
    border-radius: 4px;
    background-color: yellow;
    font-size: .6rem;
}

.by-price:hover{
    background-color: blue;
    transition: .7s   ;
    /* transform: ; */
    /* scale: ; */
    color: red;
}
/* SHOP BY PRICE  */

}




/* 495  */


/* 495  */

@media(max-width : 495px){
    
              /* FIRST PRODUCT */

.earbuds-bcg{
    background-color: rgb(190, 189, 189);
}

.card-heads{
    font-size: 1rem;
}

.earbud-imgs{

    height: 120px;
}

 .view-btn{
    padding: 0.35rem .85rem;
    border: 0px;
    border-radius: 3px;
    font-size: .48rem;
 }

.card{
    background-color: #ffffff;
    width: 170px; 
    padding: .6rem;

    }


 .buds-img{
    width: 100px;
 }

 .name{
    font-size: .75rem;
    font-weight: bolder;
    height: 3rem;

 }

 .spe-price{
    font-size: .8rem;
    font-weight: 600;
    height: 2rem;

 }

 .act-price{
    font-size: .65rem;
    color: rgba(7, 18, 27, .4);
    height: 1.5rem;
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .2rem;
    border-radius: .2rem;
    color: #0bb07e;
    font-size: .65rem;
    height: 1.5rem;

 }

/* FIRST PRODUCT */
}


/* 405 */


@media(max-width : 405px){



    .mobiles{
        width:75px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;
        font-size: .6rem;
        
        /* flex-wrap: wrap; */
    }

    .mobile-img{
        width: 2.6rem;
        
    }

    .tog-logo{
        width: 62%;
    }
    .search-bar{
        width: 45%;
        background-color: white;
        padding: .6rem 0.8rem;
        border-radius: 6px;
        font-size: 1rem;
    }


    .reason-1{
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 90%;
        padding: 4rem 1rem; 
        border-radius: 10px;
        margin-top: 8px;
    
    
    }



    /* FIRST PRODUCT */

.earbuds-bcg{
    background-color: rgb(190, 189, 189);
}

.card-heads{
    font-size: 1rem;
}



 .view-btn{
    padding: 0.35rem .85rem;
    border: 0px;
    border-radius: 3px;
    font-size: .48rem;
 }

.card{
    background-color: #ffffff;
    width: 140px; 
    padding: .3rem;

    }

    .earbud-imgs{

        height: 65px;
    }


 .buds-img{
    width: 60px;
 }

 .name{
    font-size: .45rem;
    font-weight: bolder;
    height: 1.8rem;

 }

 .spe-price{
    font-size: .48rem;
    font-weight: 500;
    height: 1.4rem;

 }

 .act-price{
    font-size: .35rem;
    color: rgba(7, 18, 27, .4);
    height: .6rem;
 }

 .off{
    background-color: rgb(235, 232, 232);
    padding: .2rem;
    border-radius: .2rem;
    color: #0bb07e;
    font-size: .22rem;
    height: .6rem;

 }

/* FIRST PRODUCT */



/* SHOP BY PRICE  */

.by-price{
    width: 100px;
    padding: .6rem 0rem;
    border-radius: 4px;
    background-color: yellow;
    font-size: .6rem;
}

.by-price:hover{
    background-color: blue;
    transition: .7s   ;
    /* transform: ; */
    /* scale: ; */
    color: red;
}
/* SHOP BY PRICE  */



    /* Footer  */

    .one-l{
        width: 250px;
        margin-top: 20px;
    }

    .google{
        width: 130px;
    
    }

    /* Footer  */


}
