.font {
    font-size: 1.2rem;
}

.font-1 {
    font-size: 1rem;
}

.font-2 {
    font-size: .8rem;
}




/* media queries */


@media(max-width : 1400px) {
    .reason-1 {
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 550px;
        padding: 4rem;
        border-radius: 10px;
        margin-top: 8px;


    }

}









/* 1200  */


@media(max-width : 1200px) {
    .reason-1 {
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 450px;
        padding: 4rem;
        border-radius: 10px;
        margin-top: 8px;


    }

       /* Best Seller  */
    .best-seller-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Best Seller  */


}



/* 1200  */








/* 992  */



@media(max-width : 992px) {
    .mobiles {
        width: 150px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;

        /* flex-wrap: wrap; */
    }

    .reason-1 {
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 500px;
        padding: 4rem;
        border-radius: 10px;
        margin-top: 8px;


    }








    /* FIRST PRODUCT */

    .earbuds-bcg {
        background-color: rgb(190, 189, 189);
    }



    .view-btn {
        padding: 0.4rem 1rem;
        border: 0px;
        border-radius: 3px;
        font-size: .9rem;
    }

    .card {
        background-color: #ffffff;
        width: 300px;
        padding: 1rem;

    }


    .earbud-imgs {

        height: 200px;
    }

    .buds-img {
        width: 145px;

    }

    .name {
        font-size: 1rem;
        height: 3.8rem;
        font-weight: bolder;
    }

    .spe-price {
        font-size: 1.2rem;
        height: 3rem;
        font-weight: 500;

    }

    .act-price {
        font-size: .9rem;
        height: 2rem;
        color: rgba(7, 18, 27, .4);
    }

    .off {
        font-size: .8rem;
        height: 1.7rem;
        background-color: rgb(235, 232, 232);
        padding: .2rem .4rem;
        border-radius: .2rem;
        color: #0bb07e;
    }

    /* FIRST PRODUCT */



    /* SHOP BY PRICE  */

    .by-price {
        width: 200px;
        padding: .6rem 0rem;
        border-radius: 4px;
        background-color: yellow;
        font-size: .8rem;
    }

    .by-price:hover {
        background-color: blue;
        transition: .7s;
        /* transform: ; */
        /* scale: ; */
        color: red;
    }

    /* SHOP BY PRICE  */






    /* Best-Seller  */
    .best-seller-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-1 {
        grid-row: auto;
        grid-column: auto;
    }

    .pro-40-img {
        width: 15rem;
    }

    .airbud-550-img {
        width: 8rem;
    }

    /* Best-Seller  */


}


/* 992  */



/* 768 */

@media(max-width : 768px) {

    .tog-logo {
        width: 50%;
    }


    .search-bar {
        width: 50%;
        background-color: white;
        padding: .6rem 0.8rem;
        border-radius: 6px;
        font-size: 1rem;
    }




    
    /* SHOP BY PRICE  */

    .by-price {
        width: 150px;
        padding: .6rem 0rem;
        border-radius: 4px;
        background-color: yellow;
        font-size: .7rem;
    }

    .by-price:hover {
        background-color: blue;
        transition: .7s;
        /* transform: ; */
        /* scale: ; */
        color: red;
    }

    /* SHOP BY PRICE  */


}





/* 700 */


@media(max-width : 700px) {


    .log-reg {
        display: none;
        /* color: red; */
        /* background-color: black; */

    }


  

}


/* 662 */


@media(max-width : 662px) {


    .log-reg {
        display: none;
        /* color: red; */
        /* background-color: black; */

    }

    .mobiles {
        width: 130px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;

        /* flex-wrap: wrap; */
    }

    .view-btn {
        padding: 0.5rem .6rem;
        border: 0px;
        border-radius: 3px;
        font-size: .7rem;
    }

    h4 {
        font-size: .8rem;
    }




    /* FIRST PRODUCT */

    .card {
        background-color: #ffffff;
        width: 260px;
        padding: 1rem;

    }


    .earbud-imgs {

        height: 150px;
    }

    .buds-img {
        width: 110px;

    }

    .name {
        font-size: .9rem;
        height: 3.4rem;
        font-weight: bolder;
    }

    .spe-price {
        font-size: 1rem;
        height: 2.4rem;
        font-weight: 500;

    }

    .act-price {
        font-size: .7rem;
        height: 1.8rem;
        color: rgba(7, 18, 27, .4);
    }

    .off {
        font-size: .7rem;
        height: 1.8rem;
        background-color: rgb(235, 232, 232);
        padding: .3rem .4rem;
        border-radius: .2rem;
        color: #0bb07e;
    }

    /* FIRST PRODUCT */




    /* Best Seller   */
    .best-seller-grid {
        grid-template-columns: 1fr;
    }

    .grid-1 {
        grid-row: auto;
        grid-column: auto;
    }

    .pro-40-img {
        width: 12rem;
    }

    .airbud-550-img {
        width: 6rem;
    }

    /* Best Seller  */


}


/* 575 */


@media(max-width : 575px) {



    .mobiles {
        width: 90px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;
        font-size: .6rem;

        /* flex-wrap: wrap; */
    }

    .mobile-img {
        width: 2.6rem;

    }

    .reason-1 {
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 90%;
        padding: 4rem 2rem;
        border-radius: 10px;
        margin-top: 8px;


    }

    .best-seller-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .grid-1 {
        padding: .5rem .7rem;
        border-radius: 5px;


    }


    /* BEST SELLER  */







   
    /* SHOP BY PRICE  */

    .by-price {
        width: 120px;
        padding: .6rem 0rem;
        border-radius: 4px;
        background-color: yellow;
        font-size: .6rem;
    }

    .by-price:hover {
        background-color: blue;
        transition: .7s;
        /* transform: ; */
        /* scale: ; */
        color: red;
    }

    /* SHOP BY PRICE  */


    .loved-card {

        width: 235px;
        border-radius: 8px;
        /* height: 300px; */
        /* background-color: red; */

    }



}




/* 495  */


/* 495  */

@media(max-width : 495px) {

    .card-heads {
        font-size: 1.2rem;
    }

    
}


/* 405 */


@media(max-width : 405px) {


    .card-heads {
        font-size: 1rem;
    }

    .container-fluid {
        padding: 0px;
    }

    .mobiles {
        width: 75px;
        font-size: .8rem;
        height: 5rem;
        padding: 1rem 0rem;
        font-size: .6rem;

        /* flex-wrap: wrap; */
    }

    .mobile-img {
        width: 2.6rem;

    }

    .tog-logo {
        width: 62%;
    }

    .search-bar {
        width: 45%;
        background-color: white;
        padding: .6rem 0.8rem;
        border-radius: 6px;
        font-size: 1rem;
    }


    /* Reason  */


    .reason-head-heading {
        font-size: 1.4rem;
        text-align: center;
    }

    .reason-1 {
        background: radial-gradient(25.65% 62.25% at 27.62% 50.2%, #48afff 21.57%, #0078d5 100%);
        width: 90%;
        padding: 1rem 1rem;
        border-radius: 10px;
        margin-top: 1rem;


    }

    .reason-imgs {
        width: 250px;
    }

    .reason-img {
        width: 150px;
    }

    .reason-text {
        text-align: center;
    }

    .Package-text {
        font-size: 1.1rem;

    }

    .know-more {
        font-size: .7rem;
        padding: .4rem .6rem;
        background-color: #ffc107;
        border: 0px;
        border-radius: 4px;
        margin-top: 10px;
    }

    /* Reason  */


    /* BANNER  */

    .banner {
        width: 100%;

    }

    .banner-img {
        width: 100%;

    }

    /* BANNER  */



    /* SHOP BY PRICE  */

    .by-price {
        width: 100px;
        padding: .6rem 0rem;
        border-radius: 4px;
        background-color: yellow;
        font-size: .6rem;
    }

    .by-price:hover {
        background-color: blue;
        transition: .7s;
        /* transform: ; */
        /* scale: ; */
        color: red;
    }

    /* SHOP BY PRICE  */



    /* Footer  */

    .one-l {
        width: 250px;
        margin-top: 20px;
    }

    .google {
        width: 130px;

    }

    /* Footer  */


}